*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

#altIMG{
    border: 10px, inset, gray;
}

#contenedor{
    display: grid;
    background-color: #2196F3;
}

#tittleGalery{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

#galeria{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/*Tablet*/
@media (min-width: 768px){
    img{
        width: 100%;
    }

    #tittleGalery{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: orange;
    }
    
    #galeria{
        grid-template-columns: 1fr;
        gap: 1rem;
        border: 5px ,solid, black;
    }
}

/*Pantallas pequeñas Ordenador*/
@media (min-width: 992px){
    img{
        width: 100%;
    }

    #tittleGalery{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        color: orange;
    }

    #galeria{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 1rem;
    }

}
/*Pantalla grande*/
@media (min-width: 1200px){
    img {
        width: 100%;
    }

    #tittleGalery{
        font-size: 45px;
        font-family: 'Times New Roman', Times, serif;
        color: orange;
    }

    #galeria{
        display: grid;
        grid-template-columns: repeat(4,2fr);
    }

}