img {
    display: grid;
    height: 50%;
    width: 25%;
    border-style: inset;
    box-shadow: 10px 5px 5px red;
}

#contenedor{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2196F3;
    padding: 5px;
}

#galeria{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/*Movil pequeño*/
@media (min-width: 576px){
    img {
        display: grid;
        height: 60%;
        width: 30%;
        border-style: inset;
        box-shadow: 10px 5px 5px red;
    }
    #galeria{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/*Tablet*/
@media (min-width:768px){
    img {
        display: grid;
        height: 70%;
        width: 35%;
        border-style: inset;
        box-shadow: 10px 5px 5px red;
    }
    #galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
/*Escritura grande*/
@media (min-width:1200px){
    img {
        display: grid;
        height: 80%;
        width: 40%;
        border-style: inset;
        box-shadow: 10px 5px 5px red;
    }
    #galeria{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

}